/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* start here */
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.head{
    font-size: 20px;
    color: black;
    background-color: #D9D9D9;
    width: 100%;
    display: flex;
    padding: 5px;
}
@media(max-width:700px){
    .logo{  
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 3;
        margin: 10px;
        padding: 0px 15px;
    }
    .item-all{
        display: flex;
        flex-direction: column;
        margin-right: 15px;
        flex-wrap: wrap;
        flex-grow: 1;
        justify-content: space-between;
        align-items: center;
    }
}
@media(min-width:700px){
    .logo{  
        display: flex;
        justify-content: left;
        align-items: center;
        flex-grow: 3;
        margin: 10px;
        padding: 0px 15px;
    }
    .item-all{
        display: flex;
        margin-right: 15px;
        flex-wrap: wrap;
        flex-grow: 1;
        justify-content: space-between;
    }
}
.item1, .item2, .item3, .item4{
    margin: 10px;
    text-align: center;
    width: 100px;
}
.welcome-background{
    background-color: #a5a5cc;
    padding: 15px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.welcome{
    margin: 80px;
    font-size: 30px;
    display: flex;
    justify-content: center;    
    font-weight: bold;
}
.content{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.title{
    width: 100%;
    padding: 30px 0px 20px 0px;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: center; 
}
.box-all{
    width: 100%;
    font-size: 20px;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;
}
@media(min-width:1200px){
    .box1, .box2, .box3, .box4{
        margin: 10px;
        padding: 10px 0px 80px 0px;
        background-color: darkgrey;
        width: 580px;
        display: flex;
        justify-content: center; 
        align-items: center;
    }
}
@media (max-width:1200px){
    .box1, .box2, .box3, .box4{
        margin: 10px;
        padding: 10px 0px 80px 0px;
        background-color: darkgrey;
        width: 50%;
        display: flex;
        justify-content: center; 
        align-items: center;
    }
}
.button{
    display: flex;
    justify-content: center; 
    padding: 1rem;
}
.call{
    font-size: 20px;
    font-weight: bold;
    width: 200px;
    height: 5vh;
    background-color: #a5a5cc;
    display: flex;
    justify-content: center; 
    align-items: center;
    border-radius: 10px;
}


.call:hover{
    background-color: rgba(143, 136, 136, 0.234);
}
